<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 footer-widget footer-about">
                <div class="footer-logo">
                    <img src="assets/images/footer-logo.png" alt="">
                </div>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione adipisci consectetur laudantium excepturi mollitia laborum commodi unde aliquam, minima nihil quos obcaecati sint repellendus? Quia suscipit excepturi deserunt ratione maiores!</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur odit debitis tempora.</p>
                <p><strong>Lun/Ven</strong> 8H - 13H / 14H - 18H</p>
            </div><!-- About us end -->

            <div class="col-md-4 col-sm-12 footer-widget">
                <h3 class="widget-title">Navigation</h3>

                <ul class="list-arrow">
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                    <li><a href="#">Lorem ipsum</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-sm-12 footer-widget">
                <h3 class="widget-title">Inscription à la Newsletter</h3>
                <div class="newsletter-introtext">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab magni.
                </div>
                <form action="#" method="post" id="newsletter-form" class="newsletter-form">
                    <div class="form-group">
                        <input type="email" name="email" id="newsletter-form-email" class="form-control form-control-lg" placeholder="Your Email Here" autocomplete="off">
                        <button class="btn btn-primary">Subscribe</button>
                    </div>
                </form>

                <div class="footer-social">
                    <h3 class="widget-title">Restez connecté</h3>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div><!-- Footer social end -->
            </div>
        </div><!--/ Content row end -->

        <div class="row copyright">
            <div class="col-xs-12 col-sm-5">
                <div class="copyright-info">
                    <span>Copyright © 2016 Insuris. All Rights Reserved.</span>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-push-1">
                <div class="footer-menu">
                    <ul class="nav unstyled">
                        <li><a href="#">Condition Générales d'Utilisation</a></li>
                        <li><a href="#">Politique de cookies</a></li>
                        <li><a href="#">Mention Legale</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- Copyright end -->

        <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix">
            <button class="btn btn-primary" title="Back to Top">
                <i class="fa fa-angle-double-up"></i>
            </button>
        </div>

    </div><!--/ Container end -->
</footer>
