<header id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="logo col-xs-12 col-sm-3">
                <a href="index.php">
                    <img src="assets/images/logo.png" alt="insuris">
                </a>
            </div>

            <div class="col-xs-12 col-sm-7 header-right" style="padding: 20px 0 10px 0px;">
                <img src="assets/images/728x90.png" alt="pub" style="width:100%">
                <ul class="top-info">
                    <li>
                        <div class="info-box"><span class="info-icon"><i class="fa fa-map-marker">&nbsp;</i></span>
                            <div class="info-box-content">
                                <p class="info-box-title">Insuris</p>
                                <p class="info-box-subtitle">Adresse, Dakar, Sénégal</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="info-box"><span class="info-icon"><i class="fa fa-phone">&nbsp;</i></span>
                            <div class="info-box-content">
                                <p class="info-box-title">(+221) 33 800 00 00</p>
                                <p class="info-box-subtitle">info@insuris.com</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="info-box"><span class="info-icon"><i class="fa fa-compass">&nbsp;</i></span>
                            <div class="info-box-content">
                                <p class="info-box-title">8H - 18H</p>
                                <p class="info-box-subtitle">Lundi - Vendredi</p>
                            </div>
                        </div>
                    </li>
                </ul> 
            </div>
        </div>
    </div>
</header>